<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <title>Luxuarious Villa - HOME </title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    
    <%- include('./Partials Folder/header.ejs') %>

    <div class="container">

        <div class="mainContainer">

            <div class="content">

                <div class="contentsection">

                    <h1> Welcome To Our <span>Luxuriness </span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, ratione. Optio illo beatae vitae nemo nam nisi dolorum dicta fugiat facere, obcaecati rem et quo adipisci magnam, architecto repellat numquam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, ut quis cupiditate itaque reprehenderit, sit omnis a dignissimos fugiat ipsum, saepe iste accusamus repellendus quam quisquam temporibus delectus rem tempora?</p>
                    <button><a href="#"> Visit Now </a></button>

                    <div class="socialicons">

                        <ul>

                            <li><i class="ri-facebook-fill"></i></li>
                            <li><i class="ri-instagram-line"></i></li>
                            <li><i class="ri-twitter-x-line"></i></li>
                            <li><i class="ri-youtube-line"></i></li>
                            <li><i class="ri-linkedin-fill"></i></li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <%- include('./Partials Folder/footer.ejs') %>

</body>
</html>